version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - "80"
    networks:
      - dokploy-network
    container_name: dust-beaters

networks:
  dokploy-network:
    external: true
